<% provide(:title, 'All users') %>
<style>
    .container {
        padding-right: 0!important;
        padding-left: 0!important;
        width: 1170px;
    }

    #one_maincolumn #detailrightbloc {
        width: 61%;
        float: right;
    }
</style>
<div id="one_maincolumn">
  <div class="container">
    <div id="detailarea" class="clearfix">
      <h1>All users</h1>

      <%= will_paginate %>

      <ul class="users">
        <% @users.each do |user| %>
            <%= render user %>
        <% end %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>
</div>