<% provide(:title, 'About Us') %>
<style>
    .container {
        padding-right: 0!important;
        padding-left: 0!important;
        width: 1170px;
    }

    #one_maincolumn #detailrightbloc {
        width: 61%;
        float: right;
    }
</style>
<div id="one_maincolumn">
  <div class="container">
    <div id="detailarea" class="clearfix" style="text-align: left">
      <h1>About Us</h1>
      <p>
        TDA Solutionsは東京工業大学の元留学生より設立された会社です。
        優秀な若手プログラマーのスタッフは変更・修正に柔軟に対応できる、効率よい開発方法論とコンサルティング能力で顧客の満足度を高めます。顧客により迅速なレスポンスで高品質の製品の提供を目的に、スタッフは常に創造力を発揮し、最新の技術・管理法を勉強するように推薦されます。
      </p>
      <p>
        また、有能な開発スタッフは優れた開発方法、さらに常に研究しているソースコード・テストコード自動生成を実現するフレームワークを活用して高い品質、短い開発時間で顧客の満足に努めています。
      </p>
      <div style="text-align: center">
        <img src="http://tdasolution.com/images/img_5910.JPG" height="360" width="240" style="text-align: center">
      </div>
      <p>
        さらに、MVCなどの最新設計パターンを導入しプレゼンテーション層とロジック層を切り離すことで仕様変更・拡張に容易に対応できます。
      </p>
    </div>
  </div>
</div>