<% provide(:title, 'Contact') %>
<style>
    .container {
        padding-right: 0!important;
        padding-left: 0!important;
        width: 1170px;
    }

    #one_maincolumn #detailrightbloc {
        width: 61%;
        float: right;
    }
</style>
<div id="one_maincolumn">
  <div class="container">
    <div id="detailarea" class="clearfix" style="text-align: left">
      <h1>Contact</h1>
      <p>
        ◆ 341/39S Lac Long Quan Street, 11 District, Ho Chi Minh City
      </p>
      <p>
        ◆ Email: <a href="mailto:info@tdasolution.com">info@tdasolution.com	</a>
        </p>
      <p>
        ◆ TEL: +84-8-39745311
      </p>
      <p>
        ◆ FAX: +84-8-39747261
      </p>
    </div>
  </div>
</div>