/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2014, 7:52:34 AM
*/

.recent-listings {
    float: left;
    width: 100%;
    padding: 90px 0;
}

.recent-listings .container{
    width: 1170px;
}

.title-box {
    float: left;
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: 50px;
}

.title-box h3 {
    font-size: 23px;
    font-weight: 500;
    color: #000;
    border: 1px solid #CDCDCD;
    position: absolute;
    padding: 20px;
    left: 0;
    top: -54px;
    background-color: #EBEBEC;
    text-transform: capitalize;
}

.title-box .bordered {
    border-bottom: 1px solid #CDCDCD;
}

.recent-listings .container .listings-items-wrapper {
    float: left;
    margin-top: 10px;
    min-width: 100%;
}

.listing-single-item {
    margin: 15px 0;
    float: left;
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.listing-single-item .item-inner .image-wrapper {
    position: relative;
}

.listing-single-item .item-inner .image-wrapper img {
    width: 100%;
}

.item-inner .image-wrapper .property-type-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 32px;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 17px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

.item-inner .image-wrapper .featured {
    background-color: #77d04e;
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    padding: 8px 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font: 1em/1.5 "Roboto",Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size:140%;
}

.featured i {
    margin-right: 10px;
    font-size: 18px;
}

.listing-single-item .item-inner .desc-box {
    float: left;
    width: 100%;
    background-color: #FFF;
    padding: 20px;
}

.listing-single-item .item-inner .desc-box h4 a {
    text-decoration: none;
}

.listing-single-item:hover {
    opacity: 0.8;
}

.listing-single-item {
    margin: 15px 0;
    float: left;
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.listing-single-item .item-inner .image-wrapper img {
    width: 100%;
}

.listing-single-item .item-inner .desc-box h4 a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 2px 0;
}

.listing-single-item .item-inner .desc-box .item-features {
    margin: 5px 0;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 15px;
    width: 100%;
}

.slide-item-features {
    float: left;
    padding-left: 0;
    margin: 15px 0;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 30px;
}

.listing-single-item .item-inner .desc-box .item-features li {
    border: none;
    margin-right: 15px;
    padding: 3px 0px;
    font-size: 12px;
}

.slide-item-features li {
    float: left;
    background-color: #fff;
    border: 1px solid #B1B1B1;
    font-size: 13px;
    font-weight: 300;
    color: #000;
    margin-right: 5px;
    padding: 3px 5px;
    padding-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.slide-item-features li span {
    color: #B1B1B1;
    font-size: 18px;
    padding: 5px;
    padding-right: 10;
}

.buttons-wrapper .yellow-btn {
    background-color: #fbe644;
    color: #000;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 15px;
    margin: 0 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
}

.buttons-wrapper .yellow-btn:hover {
    //background: #E6A200;
    //color: #fff;
    color: #000;
    text-decoration: none;
}

.buttons-wrapper .gray-btn {
    margin: 0 3px;
    padding: 10px 15px;
    background-color: #E1E1E1;
    color: #000;
    font-size: 17px;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.buttons-wrapper .gray-btn span {
    //color: #666;
    padding-right: 7px;
    font-size: 20px;
}

.buttons-wrapper .gray-btn:hover{
    text-decoration: none;
    //color: #666;
}

.buttons-wrapper {
    margin: 20px 0;
    float: left;
}
.mylist_content{
    background-color: #EBEBEC;
    display: inline-block;
}
.under_listcontent{
    //margin: 0 auto;
    //width: 88%;
}
.detail_btn{
    float: left;
    margin: 0 auto;
}
.detail_format{
    margin-top: 11px;
}
.button_dt{
    padding: 12px 15px !important;
}
.h4_list a{
    color: #000;
}
.h4_list a:hover{
    color: #000;
}
.pagination-wrapper {
    float: left;
    width: 100%;
    margin: 10px 0 30px;
}
.pagination-wrapper .pagination {
    //float: left;
    margin: 35px auto 10px auto;
    display: block;
    padding-left: 0;
    border-radius: 4px;
    width: 97%;
}
.pagination>li {
    display: inline;
    box-sizing: border-box;
}
.pagination-wrapper .pagination li a {
    margin: 0 2px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    font-family: Roboto;
     color: #464646;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 13px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
}
#undercolumn{
    margin-bottom: 0 !important;
}
.top_list_format{
    //width: 86%;
    //margin: 0 auto;
    margin-top: 75px;
}
.sort_pro{
    width: 100%;
    float: right;
}